**/node_modules
**/vendor
.git
.gitignore
.phpunit.cache
.phpunit.result.cache
.env
.env.backup
.env.production
.env.*
!.env.example
!.env.sail.example
!.env.local.example
/storage/*.key
/storage/pail
/public/build
/public/hot
/bootstrap/ssr
npm-debug.log
yarn-error.log
auth.json
